PORT = define port ex:- 5623
MONGODB_URL = your mongodb url

EMAIL_USER = your email
EMAIL_PASS =  generate App Password for your Gmail account

JWT_SECRET = sjfsjhriaskjtgisjg435454ghsdjfghdhgfn